<footer class="bg-dark text-light py-4 mt-5 fixed-bottom">
  <div class="container">
    <div class="row text-center text-md-start">
      
      <!-- Links -->
      <div class="col-12 col-md-8 mb-3 mb-md-0">
        <ul class="list-inline mb-2">
          <li class="list-inline-item mx-2"><a href="#" class="text-light text-decoration-none">Become a Seller</a></li>
          <li class="list-inline-item mx-2"><a href="#" class="text-light text-decoration-none">Policies</a></li>
          <li class="list-inline-item mx-2"><a href="#" class="text-light text-decoration-none">Terms and Conditions</a></li>
          <li class="list-inline-item mx-2"><a href="#" class="text-light text-decoration-none">Help Center</a></li>
          <li class="list-inline-item mx-2"><a href="#" class="text-light text-decoration-none">News</a></li>
          <li class="list-inline-item mx-2"><a href="#" class="text-light text-decoration-none">Facebook</a></li>
          <li class="list-inline-item mx-2"><a href="#" class="text-light text-decoration-none">YouTube</a></li>
          <li class="list-inline-item mx-2"><a href="#" class="text-light text-decoration-none">Sitemap</a></li>
          <li class="list-inline-item mx-2"><a href="#" class="text-light text-decoration-none">FAQ</a></li>
        </ul>
      </div>

      <!-- Derechos -->
      <div class="col-12 col-md-4 text-center text-md-end">
        <p class="mb-0 small">© 2022 E-commerce Project</p>
      </div>

    </div>
  </div>
</footer>
