<!-- 
  FIX: Hemos reemplazado el ngb-carousel obsoleto por el nuevo 
  componente <app-carousel> nativo para evitar dependencias y errores de compilación.
  El componente <app-carousel> se encarga de la iteración y el estilo del carrusel.
-->
<app-carousel [products]="popularProducts"></app-carousel>

<div class="product-list-wrapper">
<h1>Trendy Products</h1>
<div class="row">
  <div class="col-sm-3" *ngFor="let item of trendyProducts">
    <div class="product-item">
      <!-- Aseguramos que la imagen se vea bien -->
      <img [src]="item.image" alt="Product Image" class="product-image">
    <div class="product-details">
      <h6 class="name-head">{{item.name}}</h6>
      <div class="product-price">
        <h6>Price: {{item.price}}</h6>
      </div>
      <div class="product-color">
        <h6>Color: {{item.color}}</h6>
      </div>
    </div>
    <div class="product-footer">
      <a routerLink="/details/{{item.id}}" class="btn-detail">View Details</a>
      <a href="#" class="btn-cart">Add to Cart</a>

    </div>
    </div>
  </div>


</div>
</div>
